body {

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
#myInput {
    background-image: url('icons/Search-48.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
table, tr, td {
    height: 60px;
    padding: 0px;
}
.searchA {
    background-image: url('/www/images/Search-48.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
@media screen and (max-width: 480px) {
    #right {
        display: none;
    }

    #btnBack {
        display: initial;
    }

    #left {
        width: 100%;
        
    }
    .ArtistBild {
        vertical-align: top;
        list-style-image: url('/www/images/MetalMusic50.png');
    }
}
.imgCover {
    height: 250px;
    width: 250px;
    padding-bottom: 5px;
    
}
.inner_box {
    position: absolute;
    background: rgba(255,255,255,0.7);
    bottom: 2px;
    left: 10px;
    transform: translate(-50%,-50%);
    padding: 7px;
    text-align: center;
    width:100%
}
.containerCover {
    border:solid;
    padding-bottom:5px;
}
.bottomLeftCover {
    background: #111;
    background: rgba(0,0,0,.8);
    padding: 12px;
    position: absolute;
    bottom: 0px;
    left: 16px;
    font-size: 12px;
    font-weight: bold;
    width: 247px;
    color: white;
}
.divCover{
    padding-bottom : 5px;
}
.boxShadow {
    -moz-box-shadow: 0px 0px 9px #111;
    -webkit-box-shadow: 0px 0px 9px #111;
    box-shadow: 0px 0px 9px #111;
}
.wraper{
    display:grid;
    grid-gap: 5px;
    grid-template-columns : repeat(auto-fill, minmax(250px, 1fr));
    margin-bottom:2em;
}
